
.blok{
    margin-top: 50px;
    background-color: #818181;
    width: 300px;
    height: 200px;
    box-shadow: #d5b892 -25px -20px 40px 5px;


}
.blokk{
    border-left: 5px solid red;
    padding-left: 20px;
}