body {
    margin: auto;
    width: 1440px;
}
*{
    font-family: Roboto;
}

.di-fl {
    display: flex;
}

.header {
    height: 83px;
    margin: 0;
    width: 1440px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;
}


.header-icon {
    margin-left: 35px;
    margin-top: 15px;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.menu-idem {
    margin-right: 30px;

}

.button {
    padding: 15px 30px;
    border-radius: 5px;
}


.button-gold {
    background-color: #F9C600;
}

.button-darkblue {
    background-color: #0d2532;
    color: #ffffff;
}

.button-border {
    border: 1px solid #060303;
    background-color: white;
}


.content1-text {
    width: 840px;
    margin-left: 150px;
    margin-top: 150px;
    margin-right: 290px;
    position: relative;
}

.content1-text1 {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    color: #0B2330;
}

.content1-text2 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    position: relative;
    margin-top: 24px;
}

.content1-photo {
    background-color: #F9C600;
    height: 774px;
    width: 600px;

}

.content1-photo-lines {
    background-color: #F9C600;
}

.content-photo-control {
    position: relative;
    top: 170px;
    right: 100px;
}


.content2 {
    margin-top: 190px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content2-header {
    font-style: normal;
    font-weight: normal;
    width: 550px;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;

}

.content2-icons {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    height: 200px;
    flex-wrap: wrap;
}

.content2-icon {
    height: 50px;
    min-width: 150px;
}


.content3-blok {
    display: flex;
    height: 494px;
    width: 1376px;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 10px;
    background-color: #52cebd;
}

.content3-blok-img {
    margin-top: 56px;
}

.content3-blok-text {
    margin: 115px 130px 20px 30px;
}

.content3-blok-text1 {
    margin-bottom: 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
}

.content3-blok-text2 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
}


.content4-text {
    margin: 200px 360px 36px 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
}

.content4-photo {
    margin: 0 264px 113px 265px;
}

.content4-button {
    margin: 0 639px 160px 638px;
}


.content5 {
    height: 537px;
    width: 1260px;
    background-color: #be79f0;
    border-radius: 10px;
    margin-left: 150px;
}

.content5-img {
    position: relative;
    margin: 65px 136px 0 -116px;

}

.content5-text1 {
    margin: 103px 193px 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
}

.content5-text2 {
    margin: 0 128px 147px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}


.solutions {
    margin-top: 136px;
    height: 1900px;
}

.solution-head {
    height: 240px;
    margin: 0 265px 172px 148px;
}

.solution-head-text1 {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #375361;
}

.solution-head-text2 {
    margin: 0 434px 27px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;

}

.solution-head-text3 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #375361;

}

.solution-content {
    margin: 0 32px 20px 150px;
    height: 440px;
}

.solution-content-icon {
    margin: 65px auto 24px 0;
}

.solution-content-text1 {
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
}

.solution-content-text2 {
    margin: 28px 0 64px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    max-width: 444px;
}

.solution-image {
    margin: auto 0 auto auto;
}

.solution-button {
    margin-top: 18px;
    background-color: #d9d9d9;
    border-radius: 5px;
    color: #61757E;
}

.solution-button-gold {
    margin-top: 18px;
    margin-bottom: 152px;
    background-color: #fea02a;
    border-radius: 5px;
    color: #0B2330;
}


.features {
    height: 900px;
    background-color: #F2EDE7;

}

.features-head {
    margin: auto;
}

.features-head-text1 {
    padding-top: 96px;
    margin: auto auto 16px 122px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #375361;
}

.features-head-text2 {
    margin: 0 300px 116px 122px;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #0B2330;
}

.features-img {
    margin: 0 auto auto 122px;
}

.features-accordion {
    width: 588px;
    border-top: 3px solid #C9316F;
    margin-right: 122px;
}

.accordion-text1 {
    margin-bottom: 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
}

.accordion-text2 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 39px;
}

.accordion-text3 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}


.integrations {
    margin: 160px auto 160px auto;
    height: 418px;
}

.integrations-text1 {
    margin: 24px auto auto 148px;
    color: #375361;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
}

.integrations-text2 {
    width: 650px;
    margin: 16px auto auto 148px;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    color: #0B2330;
}

.integrations-text3 {
    width: 739px;
    margin: 16px auto auto 148px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}

.integrations-text4 {
    margin: 40px auto 24px 148px;

}


.case-study {
    height: 774px;
}

.case-study-bloc {
    height: 584px;
    width: 1376px;
    margin: auto;
    background-color: #F2EDE7;
    border-radius: 10px;
}

.case-study-left {
    height: 584px;
    width: 562px;
}

.case-study-left1 {
    margin: 80px auto auto 116px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #375361;
}

.case-study-left2 {
    margin: 24px auto auto 116px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
}

.case-study-left3 {
    margin: 24px auto 40px 116px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
}

.case-study-left4 {
    margin-left: 116px;
    background-color: #F2EDE7;
}


.case-study-right {
    width: 794px;
    height: 584px;
    background-color: #F9C600;
    margin-left: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.case-study-right-text {
    position: relative;
    height: 424px;
    width: 554px;
    margin: -144px 116px;
}

.case-study-right-text1 {
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
}

.case-study-right-text2 {
    margin-top: 80px;
    height: 80px;
}

.case-study-right-text3 {
    margin: 14px 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
}



.footer1-blok {
    width: 1376px;
    height: 421px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid #375361;
}
.footer1 {
    height: 421px;
    background-color: #0B2330;
    display: flex;
    justify-content: center;
}
.footer1-text1 {
    color: white;
    margin: 53px;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    margin-top: 56px;
    margin-bottom: 0;
}
.footer1-text2 {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 27px;
}
.footer1-text3 {
    color: white;
    width: 600px;
    text-align: center;
    margin-bottom: 40px;
}


.footer2{
    height: 678px;
    background-color: #0B2330;
}
.footer-icon{
    margin: 80px 110px auto 32px;
}
.footer2-content{
    height: 290px;
    width:840px ;
    margin: auto;
    margin-top: -80px;
    display: flex;
    justify-content: space-between;
}
.footer2-colum{
    height: 290px;
    width: 196px;
}
.colum-teht1{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #F9C600;
}

.colum-teht2{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #94A0A4;
}
.footer2-rights-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}

.footer2-rights{
    margin: 64px 150px auto 300px;
    height: 28px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.footer2-rights-icons{
    margin-left: 24px;
}